@import url("https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double+Ink:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Bitcount Prop Double Ink", system-ui, "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  padding-right: 16px;
  text-decoration: none;
}

a:hover{
    transition: ease 500ms;
    text-decoration: underline;
    text-decoration-color: #5797ff;
     
}

.logo {
  position: sticky;
  width: 100px;
  height: 100px;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1,
h2 {
  padding: 16px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 35px;
}

.flex__text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dex__img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dex {
  width: 1400px;
  height: 1000px;
  border-radius: 40%;
}

.search-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.search-input {
  flex: 1;
  width: 200px;
  height: 25px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  border: 1px solid #5797ff;
}

.ditto {
  width: 60px;
  height: auto;
  margin-left: 8px;
  border-radius: 50%;
  cursor: pointer;
}


.ditto:hover{
    transform: scale(1.05);
    transition: ease 500ms;
}

.ditto:active{
    animation: spin 0.35s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}